language: python
python:
  - "3.5"

install:
  - pip install -r requirements.txt

script:
  - make html
  - cp content/README.md output/

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  local_dir: ./output
  target_branch: master
  repo: pyladies-poland/pyladies-poland.github.io
  fqdn: poland.pyladies.com
  on:
    branch: master
