{% extends "base.html" %}

{% block contents %}

  <!-- INTRO-->
  <!--===============================================================-->
    <div class="bg-intro" id="home">
      <div class="layer-intro">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">PyLadies Poland</h1>
              <!-- <h2 class="text-center">Lorem ipsum dolor sit amet</h2> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-down"></div>

  <!-- EVENTS-->
  <!--===============================================================-->
    <div class="bg-white" id="events">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">WYDARZENIA</h2>
            <hr>
          </div>
        </div>

        <div class="row event-listing">
        {% for article in categories_dict.get('events')[:6] %}
            <div class="event">
                <a href="/events/{{ article.slug }}">
                    <div class="col-sm-4 margin-bottom-xs">
                      <p class="event-loc">{{ article.location }}</p>
                    </div>
                    <div class="col-sm-8 margin-bottom-xs">
                        {{ article.summary }}
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-12">
              <a href="/events.html"><h4 id="all-events" class="title">WSZYSTKIE WYDARZENIA</h4></a>
            </div>
        </div>

      </div>
    </div>

  <!-- ABOUT -->
  <!--===============================================================-->
    <div class="bg-about" id="about">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 margin-bottom-xs">
              {% set article = articles_dict.get('about') %}
              <aside id="featured" class="body">
                  <article>
                      <h1 class="entry-title">{{ article.title }}</h1>
                      {{ article.content }}
                  </article>
              </aside><!-- /#featured -->
          </div>
          <div class="col-sm-3 city-image">
              <a class="wrapper-images" href="https://www.facebook.com/pyladiespoznan" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/poznan.jpg"
                     alt="Photo by: David Castor www.pastorcastor.se">
                <h3 class="category">Poznań</h3>
              </a>
          </div>
          <div class="col-sm-3 city-image">
              <a class="wrapper-images" href="https://www.facebook.com/pyladieswaw" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/warsaw2.jpg"
                     alt="Warsaw - photo by https://www.flickr.com/photos/giuseppemilo">
                <h3 class="category">Warszawa</h3>
              </a>
          </div>
          <div class="col-sm-3 city-image">
              <a class="wrapper-images" href="https://www.facebook.com/pyladieswroclaw" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/wroclaw2.jpg"
                     alt="Photo by: Adam Smok https://www.flickr.com/photos/37034324@N05/">
                <h3 class="category">Wrocław</h3>
              </a>
          </div>
          <div class="col-sm-3 city-image">
              <a class="wrapper-images" href="https://www.facebook.com/pyladieslodz" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/lodz.jpg"
                     alt="Photo by: Adam Jones https://www.flickr.com/photos/adam_jones/">
                <h3 class="category">Łódź</h3>
              </a>
          </div>
        </div>

      </div>
    </div>

  <!-- PEOPLE -->
  <!--===============================================================-->
    <div class="bg-white" id="people">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">POZNAJ NAS</h2>
            <hr>
          </div>
        </div>

        <div class="row row-images">
        {% for article in categories_dict.get('people') %}
            <div class="col-sm-3">
                <a class="wrapper-images" href="/people/{{ article.slug }}">
                    <img class="img-responsive"
                         src="/pyladiestheme/assets/images/people/{{ article.img_name }}"
                         alt="{{ article.person_name }}">
                    <h3 class="category">{{ article.person_name }} <br/>{{ article.person_role }}</h3>
                </a>
            </div>
        {% endfor %}
        </div>

      </div>
    </div>

  <!-- JOIN US -->
  <!--===============================================================-->
    <div class="bg-about" id="join">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 margin-bottom-xs">
              {% set article = articles_dict.get('join') %}
              <aside id="featured" class="body">
                  <article>
                      <h1 class="entry-title">{{ article.title }}</h1>
                      {{ article.content }}
                  </article>
              </aside><!-- /#featured -->
          </div>
        </div>

      </div>
    </div>

  <!-- RESOURCES -->
  <!--===============================================================-->
    <div class="bg-white" id="resources">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            {% set article = articles_dict.get('resources') %}
            <h2 class="title">{{ article.title }}</h2>
            <hr>
            <aside id="featured" class="body">
                <article>
                    {{ article.content }}
                </article>
            </aside><!-- /#featured -->
          </div>
        </div>
      </div>
    </div>

  <!-- CODE OF CONDUCT -->
  <!--===============================================================-->
    <div class="bg-about" id="coc">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 margin-bottom-xs">
              {% set article = articles_dict.get('coc') %}
              <aside id="featured" class="body">
                  <article>
                      <h1 class="entry-title">{{ article.title }}</h1>
                      {{ article.content }}
                  </article>
              </aside><!-- /#featured -->
          </div>
        </div>

      </div>
    </div>

  <!-- PARTNERS-->
  <!--===============================================================-->
    <div id="partners">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">PARTNERZY</h2>
            <hr>
          </div>
        </div>

        <div class="row row-images">
          <div class="col-sm-3">
              <a class="wrapper-images" href="http://www.skn.put.poznan.pl/" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/partners/rknpp-bg.png"
                     alt="Ania Wszeborowska">
                <h3 class="category">Rada Kół Naukowych Politechniki Poznańskiej</h3>
              </a>
          </div>
          <div class="col-sm-3">
              <a class="wrapper-images" href="http://www.megiteam.pl/" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/partners/megiteam-square.png"
                     alt="Ania Wszeborowska">
                <h3 class="category">MegiTeam</h3>
              </a>
          </div>
          <div class="col-sm-3">
              <a class="wrapper-images" href="http://kodujdlapolski.pl/" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/partners/koduj_dla_polski-square.jpg"
                     alt="Ania Wszeborowska">
                <h3 class="category">Koduj dla Polski</h3>
              </a>
          </div>
          <div class="col-sm-3">
              <a class="wrapper-images" href="https://codeforpoznan.pl/" target="_blank">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/partners/CodeforPoznan.jpg"
                     alt="Ania Wszeborowska">
                <h3 class="category">Code for Poznan</h3>
              </a>
          </div>
        </div>

      </div>
    </div>


  <!-- CONTACT-->
  <!--===============================================================-->
    <div class="bg-contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Masz pytania? Napisz do nas!</h3>
              <!-- YOUR E-MAIL-->
            <a href="mailto:poland@pyladies.com" class="mail"><span class="glyphicon glyphicon-envelope"></span>E-MAIL</a>
          </div>
        </div>
      </div>
    </div>

{% endblock contents %}
