{% extends "base.html" %}

{% block contents %}

  <!-- INTRO-->
  <!--===============================================================-->
    <div class="bg-intro" id="home">
      <div class="layer-intro">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">PyLadies Poland</h1>
              <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-down"></div>

  <!-- EVENTS-->
  <!--===============================================================-->
    <div class="bg-events" id="events">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">WYDARZENIA</h2>
            <hr>
          </div>
        </div>

        <div class="row row-events">
          <div class="col-sm-4 margin-bottom-xs">
              <a class="lightbox wrapper-events" href="/pyladiestheme/assets/images/640x480.gif">
                <img class="img-responsive" src="/pyladiestheme/assets/images/pyconpl2015logo.png" alt="events-1">
                <h3 class="category"><p>PyConPL 2015</p><p>Warsztat TDD</p></h3>
              </a>
          </div>
          <div class="col-sm-4 margin-bottom-xs">
              <a class="lightbox wrapper-events" href="/pyladiestheme/assets/images/640x480.gif">
                <img class="img-responsive" src="/pyladiestheme/assets/images/320x340.gif" alt="events-2">
                <h3 class="category">TBA</h3>
              </a>
          </div>
          <div class="col-sm-4">
              <a class="lightbox wrapper-events" href="/pyladiestheme/assets/images/640x480.gif">
                <img class="img-responsive" src="/pyladiestheme/assets/images/320x340.gif" alt="events-3">
                <h3 class="category">TBA</h3>
              </a>
          </div>
        </div>

      </div>
    </div>

  <!-- ABOUT -->
  <!--===============================================================-->
    <div class="bg-about" id="about">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 margin-bottom-xs">
                  <aside id="featured" class="body">
                      <article>
                      </article>
                  </aside><!-- /#featured -->
          </div>
          <div class="col-sm-3">
              <a class="wrapper-events" href="#">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/poznan.jpg"
                     alt="Photo by: David Castor www.pastorcastor.se">
                <h3 class="category">Poznań</h3>
              </a>
          </div>
          <div class="col-sm-3">
              <a class="wrapper-events" href="#">
                <img class="img-responsive"
                     src="/pyladiestheme/assets/images/warsaw2.jpg"
                     alt="Warsaw - photo by https://www.flickr.com/photos/giuseppemilo">
                <h3 class="category">Warszawa</h3>
              </a>
          </div>
        </div>

      </div>
    </div>

  <!-- PEOPLE -->
  <!--===============================================================-->
    <div class="bg-services" id="people">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">POZNAJ NAS</h2>
            <hr>
          </div>
        </div>

          </div>
          </div>
          </div>
          </div>
        </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  <!-- CONTACT-->
  <!--===============================================================-->
    <div class="bg-contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Feel free to contact me for your next project</h3>
              <!-- YOUR E-MAIL-->
            <a href="mailto:example@example.com" class="mail"><span class="glyphicon glyphicon-envelope"></span>E-MAIL</a>
          </div>
        </div>
      </div>
    </div>

{% endblock contents %}
